<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fail</title>

    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/styles/style.css" rel="stylesheet" />
</head>
<body>

<div class="jumbotron">
    <p>I'm sorry. The Bank doesn't like your login credentials.</p>
</div>


<form action="/" method="post">
    <input type="text" name="username" id="username" placeholder="Username" />
    <input type="text" name="password" id="password" placeholder="Password" />
    <input type="submit" value="Log in" />
</form>



</body>
</html>